---
import H1 from '../components/H1.astro';
import H1Specs from '../components/H1specs.astro';
import Parrafo from '../components/Parrafo.astro';
import Seccion2 from '../components/Seccion2.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout
  title="Aviso Legal - Santifer iRepair"
  description="Consulte nuestro Aviso Legal para entender los términos, derechos y responsabilidades en Santifer iRepair"
  slugTotal="/aviso-legal"
>
  <Seccion2 modoLegal={true}>
    <H1Specs>Aviso Legal</H1Specs>
    <div class="h-8"></div>
    <Parrafo class="mb-2 text-left">
      <strong>Nombre del dominio:</strong> santiferirepair.es
    </Parrafo>
    <Parrafo class="mb-2">
      <strong>Nombre:</strong> Santiago Fernández de Valderrama Aparicio
    </Parrafo>
    <Parrafo class="mb-2"
      ><strong>Nombre Comercial:</strong> Santifer iRepair</Parrafo
    >
    <Parrafo class="mb-2">
      <strong>Domicilio Social:</strong> Av. de Menéndez Pelayo, 36, 41003 Sevilla
    </Parrafo>
    <Parrafo class="mb-2"><strong>NIF:</strong> 48819219V</Parrafo>
    <Parrafo class="mb-2"><strong>Teléfono:</strong> 955542440</Parrafo>
    <Parrafo class="mb-2">
      <strong>Correo electrónico:</strong> almacen@santifer.me
    </Parrafo>
  </Seccion2>

  <Seccion2 modoLegal={true} class="mb-8" bgColor="bg-stone-100">
    <h2 class="text-xl font-semibold mb-2">Objeto</h2>
    <Parrafo class="mb-2">
      El prestador, responsable del sitio web, pone a disposición de los
      usuarios el presente documento con el que pretende dar cumplimiento a las
      obligaciones dispuestas en la Ley 34/2002, de Servicios de la Sociedad de
      la Información y del Comercio Electrónico (LSSI-CE), así como informar a
      todos los usuarios del sitio web respecto a cuáles son las condiciones de
      uso del sitio web.
    </Parrafo>
    <Parrafo class="mb-2">
      Toda persona que acceda a este sitio web asume el papel de usuario,
      comprometiéndose a la observancia y cumplimiento riguroso de las
      disposiciones aquí dispuestas, así como a cualquiera otra disposición
      legal que fuera de aplicación.
    </Parrafo>
    <Parrafo class="mb-2">
      El prestador se reserva el derecho a modificar cualquier tipo de
      información que pudiera aparecer en el sitio web, sin que exista
      obligación de preavisar o poner en conocimiento de los usuarios dichas
      modificaciones, entendiéndose como suficiente con la publicación en el
      sitio web del prestador.
    </Parrafo>
  </Seccion2>

  <Seccion2 modoLegal={true} class="mb-8">
    <h2 class="text-xl font-semibold mb-2">Responsabilidad</h2>
    <Parrafo class="mb-2">
      El prestador se exime de cualquier tipo de responsabilidad derivada de la
      información publicada en su sitio web, siempre que esta información haya
      sido manipulada o introducida por un tercero ajeno al mismo.
    </Parrafo>
    <Parrafo class="mb-2">
      El sitio web del prestador puede utilizar cookies (pequeños archivos de
      información que el servidor envía al ordenador de quien accede a la
      página) para llevar a cabo determinadas funciones que son consideradas
      imprescindibles para el correcto funcionamiento y visualización del sitio.
      Las cookies utilizadas en el sitio web tienen, en todo caso, carácter
      temporal con la única finalidad de hacer más eficaz su transmisión
      ulterior y desaparecen al terminar la sesión del usuario. En ningún caso
      se utilizarán las cookies para recoger información de carácter personal.
    </Parrafo>
    <Parrafo class="mb-2">
      Desde el sitio web del cliente es posible que se redirija a contenidos de
      terceros sitios web. Dado que el prestador no puede controlar siempre los
      contenidos introducidos por los terceros en sus sitios web, éste no asume
      ningún tipo de responsabilidad respecto a dichos contenidos. En todo caso,
      el prestador manifiesta que procederá a la retirada inmediata de cualquier
      contenido que pudiera contravenir la legislación nacional o internacional,
      la moral o el orden público, procediendo a la retirada inmediata de la
      redirección a dicho sitio web, poniendo en conocimiento de las autoridades
      competentes el contenido en cuestión.
    </Parrafo>
    <Parrafo class="mb-2">
      El prestador no se hace responsable de la información y contenidos
      almacenados, a título enunciativo pero no limitativo, en foros, chats,
      generadores de blogs, comentarios, redes sociales o cualquier otro medio
      que permita a terceros publicar contenidos de forma independiente en la
      página web del prestador. No obstante y en cumplimiento de lo dispuesto en
      el art. 11 y 16 de la LSSICE, el prestador se pone a disposición de todos
      los usuarios, autoridades y fuerzas de seguridad, y colaborando de forma
      activa en la retirada o en su caso bloqueo de todos aquellos contenidos
      que pudieran afectar o contravenir la legislación nacional, o
      internacional, derechos de terceros o la moral y el orden público. En caso
      de que el usuario considere que existe en el sitio web algún contenido que
      pudiera ser susceptible de esta clasificación, se ruega lo notifique de
      forma inmediata al administrador del sitio web.
    </Parrafo>
    <Parrafo class="mb-2">
      Este sitio web ha sido revisado y probado para que funcione correctamente.
      En principio, puede garantizarse el correcto funcionamiento los 365 días
      del año, 24 horas al día. No obstante, el prestador no descarta la
      posibilidad de que existan ciertos errores de programación, o que
      acontezcan causas de fuerza mayor, catástrofes naturales, huelgas, o
      circunstancias semejantes que hagan imposible el acceso a la página web.
    </Parrafo>
  </Seccion2>

  <Seccion2 modoLegal={true} class="mb-8" bgColor="bg-stone-100">
    <h2 class="text-xl font-semibold mb-2">Protección de Datos Personales</h2>
    <Parrafo class="mb-2">
      El prestador se encuentra profundamente comprometido con el cumplimiento
      de la normativa española de protección de datos de carácter personal, y
      garantiza el cumplimiento íntegro de las obligaciones dispuestas, así como
      la implementación de las medidas técnicas y organizativas necesarias para
      garantizar la seguridad de la información y poder demostrar que las mismas
      son adecuadas y eficaces.
    </Parrafo>
    <Parrafo class="mb-2">
      El prestador pone a disposición de los usuarios la Política de Privacidad
      informando a los usuarios al respecto de la política de protección de
      datos personales.
    </Parrafo>
  </Seccion2>

  <Seccion2 modoLegal={true} class="mb-8">
    <h2 class="text-xl font-semibold mb-2">
      Propiedad Intelectual e Industrial
    </h2>
    <Parrafo class="mb-2">
      El sitio web, incluyendo a título enunciativo pero no limitativo su
      programación, edición, compilación y demás elementos necesarios para su
      funcionamiento, los diseños, logotipos, texto y/o gráficos son propiedad
      del prestador o en su caso dispone de licencia o autorización expresa por
      parte de los autores. Todos los contenidos del sitio web se encuentran
      debidamente protegidos por la normativa de propiedad intelectual e
      industrial, así como inscritos en los registros públicos correspondientes.
    </Parrafo>
    <Parrafo class="mb-2">
      Independientemente de la finalidad para la que fueran destinados, la
      reproducción total o parcial, uso, explotación, distribución y
      comercialización, requiere en todo caso de la autorización escrita previa
      por parte del prestador. Cualquier uso no autorizado previamente por parte
      del prestador será considerado un incumplimiento grave de los derechos de
      propiedad intelectual o industrial del autor.
    </Parrafo>
    <Parrafo class="mb-2">
      Los diseños, logotipos, texto y/o gráficos ajenos al prestador y que
      pudieran aparecer en el sitio web, pertenecen a sus respectivos
      propietarios, siendo ellos mismos responsables de cualquier posible
      controversia que pudiera suscitarse respecto a los mismos. En todo caso,
      el prestador cuenta con la autorización expresa y previa por parte de los
      mismos.
    </Parrafo>
    <Parrafo class="mb-2">
      El prestador reconoce a favor de sus titulares los correspondientes
      derechos de propiedad industrial e intelectual, no implicando su sola
      mención o aparición en el sitio web la existencia de derechos o
      responsabilidad alguna del prestador sobre los mismos, como tampoco
      respaldo, patrocinio o recomendación por parte del mismo.
    </Parrafo>
    <Parrafo class="mb-2">
      Para realizar cualquier tipo de observación respecto a posibles
      incumplimientos de los derechos de propiedad intelectual o industrial, así
      como sobre cualquiera de los contenidos del sitio web, puede hacerlo a
      través del correo electrónico del titular del sitio web.
    </Parrafo>
  </Seccion2>

  <Seccion2 modoLegal={true} class="mb-8" bgColor="bg-stone-100">
    <h2 class="text-xl font-semibold mb-2">Ley Aplicable</h2>
    <Parrafo class="mb-2">
      Para la resolución de todas las controversias o cuestiones relacionadas
      con el presente sitio web o de las actividades en él desarrolladas, será
      de aplicación la legislación española, a la que se someten expresamente
      las partes.
    </Parrafo>
  </Seccion2>
</BaseLayout>
