---
import H1 from '../components/H1.astro';
import H1Specs from '../components/H1specs.astro';
import Parrafo from '../components/Parrafo.astro';
import Seccion2 from '../components/Seccion2.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout
  title="Política de Cookies - Santifer"
  description="Descubra cómo utilizamos las cookies para mejorar su experiencia en nuestro sitio. Lea nuestra política completa aquí"
  slugTotal="/politica-cookies"
>
  <Seccion2 modoLegal={true}>
    <H1Specs>Política de Cookies</H1Specs>
    <div class="h-8"></div>
    <Parrafo class="mb-2 text-left">
      <strong>Nombre del dominio:</strong> santiferirepair.es
    </Parrafo>
    <Parrafo class="mb-2">
      <strong>Nombre:</strong> Santiago Fernández de Valderrama Aparicio
    </Parrafo>
    <Parrafo class="mb-2">
      <strong>NIF:</strong> 48819219V
    </Parrafo>
    <Parrafo class="mb-2">
      <strong>Domicilio:</strong> Av. de Menéndez Pelayo, 36, 41003 Sevilla
    </Parrafo>
    <Parrafo class="mb-2"><strong>Teléfono:</strong> 955542440</Parrafo>
    <Parrafo class="mb-2">
      <strong>Correo electrónico:</strong> almacen@santifer.me
    </Parrafo>
    <Parrafo class="mb-2">
      <strong>Datos de contacto del Delegado de Protección de Datos:</strong> dpo@lbo.legal
    </Parrafo>
  </Seccion2>

  <Seccion2 modoLegal={true} class="mb-8" bgColor="bg-stone-100">
    <h2 class="text-xl font-semibold mb-2">¿Qué son las cookies?</h2>
    <Parrafo class="mb-2">
      Una cookie es un fichero que se descarga en su ordenador al acceder a
      determinadas páginas web. Las cookies permiten a una página web, entre
      otras cosas, almacenar y recuperar información sobre los hábitos de
      navegación de un usuario o de su equipo y, dependiendo de la información
      que contengan y de la forma en que utilice su equipo, pueden utilizarse
      para reconocer al usuario.
    </Parrafo>
  </Seccion2>

  <Seccion2 modoLegal={true} class="mb-8">
    <h2 class="text-xl font-semibold mb-2">Tipos de Cookies</h2>
    <Parrafo class="mb-2">
      Según la entidad que gestione el equipo o dominio desde donde se envían
      las cookies y trate los datos que se obtengan, podemos distinguir:
    </Parrafo>
    <Parrafo class="mb-2">
      <strong>Cookies propias:</strong> Son aquéllas que se envían al equipo terminal
      del usuario desde un equipo o dominio gestionado por el propio editor y desde
      el que se presta el servicio solicitado por el usuario. Son llamadas también
      cookies de primera parte.
    </Parrafo>
    <Parrafo class="mb-2">
      <strong>Cookies de tercero:</strong> Son aquéllas que se envían al equipo terminal
      del usuario desde un equipo o dominio que no es gestionado por el editor, sino
      por otra entidad que trata los datos obtenidos a través de las cookies. Son
      llamadas también cookies de tercera parte.
    </Parrafo>
    <Parrafo class="mb-2">
      En el caso de que las cookies sean instaladas desde un equipo o dominio
      gestionado por el propio editor pero la información que se recoja mediante
      éstas sea gestionada por un tercero, son consideradas como cookies de
      tercero.
    </Parrafo>
    <Parrafo class="mb-2">
      Según el plazo de tiempo que permanecen activadas en el equipo terminal
      podemos distinguir:
    </Parrafo>
    <Parrafo class="mb-2">
      <strong>Cookies de sesión:</strong> Son un tipo de cookies diseñadas para recabar
      y almacenar datos mientras el usuario accede a una página web. Se suelen emplear
      para almacenar información que solo interesa conservar para la prestación del
      servicio solicitado por el usuario en una sola ocasión (por ejemplo: una lista
      de productos adquiridos). Estas cookies se borran automáticamente cuando el
      usuario cierra su navegador.
    </Parrafo>
    <Parrafo class="mb-2">
      <strong>Cookies persistentes:</strong> Son un tipo de cookies en el que los
      datos siguen almacenados en el terminal y pueden ser accedidos y tratados durante
      un período definido por el responsable de la cookie, y que puede ir desde unos
      minutos a varios años.
    </Parrafo>
    <Parrafo class="mb-2">
      Según la finalidad para la que se traten los datos obtenidos a través de
      las cookies, podemos distinguir entre:
    </Parrafo>
    <Parrafo class="mb-2">
      <strong>Cookies técnicas:</strong> Son aquéllas que permiten al usuario la
      navegación a través de una página web, plataforma o aplicación y la utilización
      de las diferentes opciones o servicios que en ella existan como, por ejemplo,
      controlar el tráfico y la comunicación de datos, identificar la sesión, acceder
      a partes de acceso restringido, recordar los elementos que integran un pedido,
      utilizar elementos de seguridad durante la navegación o compartir contenidos
      a través de redes sociales.
    </Parrafo>
    <Parrafo class="mb-2">
      <strong>Cookies de personalización:</strong> Son aquéllas que permiten al usuario
      acceder al servicio con algunas características de carácter general predefinidas
      en función de una serie de criterios en el terminal del usuario como por ejemplo
      serían el idioma, el tipo de navegador a través del cual accede al servicio,
      la configuración regional desde donde accede al servicio, etc.
    </Parrafo>
    <Parrafo class="mb-2">
      <strong>Cookies de análisis:</strong> Son aquéllas que permiten al responsable
      de las mismas, el seguimiento y análisis del comportamiento de los usuarios
      de los sitios web a los que están vinculadas. La información recogida mediante
      este tipo de cookies se utiliza en la medición de la actividad de los sitios
      web, aplicación o plataforma y para la elaboración de perfiles de navegación
      de los usuarios de dichos sitios, aplicaciones y plataformas, con el fin de
      introducir mejoras en función del análisis de los datos de uso que hacen los
      usuarios del servicio.
    </Parrafo>
    <Parrafo class="mb-2">
      <strong>Cookies publicitarias:</strong> Son aquéllas que permiten la gestión,
      de la forma más eficaz posible, de los espacios publicitarios que, en su caso,
      el editor haya incluido en una página web, aplicación o plataforma desde la
      que presta el servicio solicitado en base a criterios como el contenido editado
      o la frecuencia en la que se muestran los anuncios.
    </Parrafo>
    <Parrafo class="mb-2">
      <strong>Cookies de publicidad comportamental:</strong> Son aquéllas que permiten
      la gestión, de la forma más eficaz posible, de los espacios publicitarios que,
      en su caso, el editor haya incluido en una página web, aplicación o plataforma
      desde la que presta el servicio solicitado. Estas cookies almacenan información
      del comportamiento de los usuarios obtenida a través de la observación continuada
      de sus hábitos de navegación, lo que permite desarrollar un perfil específico
      para mostrar publicidad en función de ello.
    </Parrafo>
  </Seccion2>

  <Seccion2 modoLegal={true} class="mb-8" bgColor="bg-stone-100">
    <h2 class="text-xl font-semibold mb-2">Cookies Utilizadas</h2>
    <Parrafo class="mb-2">
      En el siguiente cuadro se identifican todas las cookies utilizadas en este
      sitio web, indicando su finalidad concreta y si la información obtenida
      por las cookies es tratada por el editor y/o también por terceros con los
      que el editor ha contratado la prestación de un servicio para el cual
      requiere el uso de cookies, con identificación de estos últimos.
    </Parrafo>
    <Parrafo class="mb-2">
      <strong>Dominio:</strong> .santifer.me
    </Parrafo>
    <Parrafo class="mb-2">
      <strong>Nombre cookie:</strong> _ga
    </Parrafo>
    <Parrafo class="mb-2">
      <strong>Primera / Tercera parte:</strong> Tercera
    </Parrafo>
    <Parrafo class="mb-2">
      <strong>Sesión / Persistente:</strong> Persistente
    </Parrafo>
    <Parrafo class="mb-2">
      <strong>Período de conservación:</strong> 2 años
    </Parrafo>
    <Parrafo class="mb-2">
      <strong>Finalidad:</strong> Se usa para distinguir a los usuarios en Google
      Analytics.
    </Parrafo>
    <Parrafo class="mb-2"> Añadir resto de cookies </Parrafo>
  </Seccion2>

  <Seccion2 modoLegal={true} class="mb-8">
    <h2 class="text-xl font-semibold mb-2">
      Desactivación o Eliminación de las Cookies
    </h2>
    <Parrafo class="mb-2">
      Las cookies instaladas en su equipo las puede permitir, bloquear o
      eliminar mediante la configuración de las opciones del navegador instalado
      en su equipo.
    </Parrafo>
    <Parrafo class="mb-2">
      El navegador se puede configurar para que avise en pantalla la recepción
      de nuevas cookies y para impedir su instalación.
    </Parrafo>
    <Parrafo class="mb-2">
      El usuario puede revocar el consentimiento prestado cuando se instalaron
      las cookies y eliminarlas explicar el procedimiento configurado.
    </Parrafo>
    <Parrafo class="mb-2">
      Cada navegador se puede configurar aceptando o rechazando todas las
      cookies, o bien seleccionado aquellas cuya instalación admite y cuáles no.
    </Parrafo>
    <Parrafo class="mb-2">
      Los enlaces a las páginas en las que se informa cómo configurar los
      principales navegadores son los siguientes:
    </Parrafo>
    <Parrafo class="mb-2">
      <strong>Google Chrome:</strong>
      <a
        href="https://support.google.com/chrome/answer/95647?hl=es"
        rel="noopener noreferrer nofollow"
        >https://support.google.com/chrome/answer/95647?hl=es</a
      >
    </Parrafo>
    <Parrafo class="mb-2">
      <strong>Microsoft Edge:</strong>
      <a
        href="https://support.microsoft.com/es-es/windows/administrar-cookies-en-microsoft-edge-ver-permitir-bloquear-eliminar-y-usar-168dab11-0753-043d-7c16-ede5947fc64d"
        rel="noopener noreferrer nofollow"
        >https://support.microsoft.com/es-es/windows/administrar-cookies-en-microsoft-edge-ver-permitir-bloquear-eliminar-y-usar-168dab11-0753-043d-7c16-ede5947fc64d</a
      >
    </Parrafo>
    <Parrafo class="mb-2">
      <strong>Mozilla Firefox:</strong>
      <a
        href="https://support.mozilla.org/es/kb/cookies-informacion-que-los-sitios-web-guardan-en-?redirectlocale=en-US&redirectslug=Cookies"
        rel="noopener noreferrer nofollow"
        >https://support.mozilla.org/es/kb/cookies-informacion-que-los-sitios-web-guardan-en-?redirectlocale=en-US&redirectslug=Cookies</a
      >
    </Parrafo>
    <Parrafo class="mb-2">
      <strong>Safari:</strong>
      <a
        href="https://support.apple.com/es-lamr/105082"
        rel="noopener noreferrer nofollow"
        >https://support.apple.com/es-lamr/105082</a
      >
    </Parrafo>
    <Parrafo class="mb-2">
      <strong>Microsoft Explorer:</strong>
      <a
        href="https://support.microsoft.com/es-es/windows/cambiar-la-configuraci%C3%B3n-de-seguridad-y-privacidad-de-internet-explorer-11-9528b011-664c-b771-d757-43a2b78b2afe#ie=ie-11"
        rel="noopener noreferrer nofollow"
        >https://support.microsoft.com/es-es/windows/cambiar-la-configuraci%C3%B3n-de-seguridad-y-privacidad-de-internet-explorer-11-9528b011-664c-b771-d757-43a2b78b2afe#ie=ie-11</a
      >
    </Parrafo>
    <Parrafo class="mb-2">
      El “Complemento de inhabilitación para navegadores de Google Analytics” a
      través de cuyas instrucciones pueden rechazarse las cookies analíticas de
      dicho servicio en todos los navegadores, se puede obtener a través del
      enlace <a
        href="https://tools.google.com/dlpage/gaoptout"
        rel="noopener noreferrer nofollow"
        >https://tools.google.com/dlpage/gaoptout</a
      >
    </Parrafo>
    <Parrafo class="mb-2">
      En la siguiente página se puede consultar la política de privacidad de
      Google: <a
        href="https://policies.google.com/privacy?hl=es&gl=es"
        rel="noopener noreferrer nofollow"
        >https://policies.google.com/privacy?hl=es&gl=es</a
      >
    </Parrafo>
    <Parrafo class="mb-2">
      En la siguiente página se puede consultar cómo utiliza Google las cookies: <a
        href="https://policies.google.com/technologies/cookies?hl=es"
        rel="noopener noreferrer nofollow"
        >https://policies.google.com/technologies/cookies?hl=es</a
      >
    </Parrafo>
    <Parrafo class="mb-2">
      En la siguiente página se puede consultar qué tipos de cookies utiliza
      Google: <a
        href="https://policies.google.com/technologies/cookies?hl=es#types-of-cookies"
        rel="noopener noreferrer nofollow"
        >https://policies.google.com/technologies/cookies?hl=es#types-of-cookies</a
      >
    </Parrafo>
  </Seccion2>
</BaseLayout>
