---
import H1 from '../components/H1.astro';
import H1Specs from '../components/H1specs.astro';
import Parrafo from '../components/Parrafo.astro';
import Seccion2 from '../components/Seccion2.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout
  title="Política de privacidad - Santifer iRepair"
  description="Conozca cómo protegemos y usamos sus datos en Santifer iRepair. Lea nuestra política de privacidad para más detalles"
  slugTotal="/politica-privacidad"
>
  <Seccion2 modoLegal={true} class="p-5">
    <H1Specs>Política de Privacidad</H1Specs>
    <h2 class="text-xl font-semibold my-4">
      ¿Quién es el Responsable del tratamiento de sus datos personales?
    </h2>
    <Parrafo
      ><strong>Nombre:</strong> Santiago Fernández de Valderrama Aparicio</Parrafo
    >
    <Parrafo><strong>NIF:</strong> 48819219V</Parrafo>
    <Parrafo>
      <strong>Domicilio:</strong> Av. de Menéndez Pelayo, 36, 41003 Sevilla
    </Parrafo>
    <Parrafo><strong>Teléfono:</strong> 955542440</Parrafo>
    <Parrafo><strong>Correo electrónico:</strong> lopd@santifer.me</Parrafo>
    <Parrafo>
      <strong>Datos de contacto del Delegado de Protección de Datos:</strong> dpo@lbo.legal
    </Parrafo>
  </Seccion2>

  <Seccion2 modoLegal={true} class="mb-8" bgColor="bg-stone-100">
    <h2 class="text-xl font-semibold mb-2">
      ¿Con qué finalidad tratamos sus datos personales?
    </h2>
    <Parrafo>
      El Responsable trata sus datos personales con la finalidad de gestión y
      control de las relaciones contractuales, así como para la actividad de
      publicidad o de prospección comercial sobre nuestros productos y
      servicios.
    </Parrafo>
  </Seccion2>

  <Seccion2 modoLegal={true} class="mb-8">
    <h2 class="text-xl font-semibold mb-2">
      ¿Por cuánto tiempo conservaremos sus datos?
    </h2>
    <Parrafo>
      Los datos personales proporcionados se conservarán mientras se mantenga la
      relación comercial o durante los años necesarios para cumplir con las
      obligaciones legales.
    </Parrafo>
  </Seccion2>

  <Seccion2 modoLegal={true} class="mb-8" bgColor="bg-stone-100">
    <h2 class="text-xl font-semibold mb-2">
      ¿Cuál es la legitimación para el tratamiento de sus datos personales?
    </h2>
    <Parrafo>
      La base legal para el tratamiento de sus datos es la ejecución de un
      contrato o su consentimiento inequívoco.
    </Parrafo>
  </Seccion2>

  <Seccion2 modoLegal={true} class="mb-8">
    <h2 class="text-xl font-semibold mb-2">
      ¿Quiénes son los destinatarios de sus datos personales?
    </h2>
    <Parrafo>No se cederán datos a terceros, salvo obligación legal.</Parrafo>
  </Seccion2>

  <Seccion2 modoLegal={true} class="mb-8" bgColor="bg-stone-100">
    <h2 class="text-xl font-semibold mb-2">
      ¿Cuáles son sus derechos cuando nos facilita sus datos?
    </h2>
    <Parrafo>
      En cualquier momento, el interesado puede revocar el consentimiento para
      el tratamiento.
    </Parrafo>
    <Parrafo>
      Cualquier persona tiene derecho a obtener confirmación sobre si estamos
      tratando datos personales que les conciernen, o no.
    </Parrafo>
    <Parrafo>
      Las personas interesadas tienen derecho a acceder a sus datos personales,
      así como a solicitar la rectificación de los datos inexactos o, en su
      caso, solicitar su supresión cuando, entre otros motivos, los datos ya no
      sean necesarios para los fines que fueron recogidos.
    </Parrafo>
    <Parrafo>
      En determinadas circunstancias, los interesados podrán solicitar la
      limitación del tratamiento de sus datos, en cuyo caso únicamente los
      conservaremos para el ejercicio o la defensa de reclamaciones.
    </Parrafo>
    <Parrafo>
      En determinadas circunstancias y por motivos relacionados con su situación
      particular, los interesados podrán oponerse al tratamiento de sus datos.
      Dejaremos de tratar los datos, salvo por motivos legítimos imperiosos, o
      el ejercicio o la defensa de posibles reclamaciones.
    </Parrafo>
    <Parrafo>
      Para ejercer cualquiera de estos derechos puede contactar con nosotros a
      través de los medios de contacto facilitados del Responsable.
    </Parrafo>
    <Parrafo>
      En cualquier momento, el interesado podrá presentar una reclamación ante
      la Agencia Española de Protección de Datos para hacer valer sus derechos
      en la dirección de correo electrónico dpd@agpd.es.
    </Parrafo>
    <Parrafo>
      Todos los datos solicitados a través del sitio web son obligatorios, ya
      que son necesarios para la prestación de un servicio óptimo al usuario. En
      caso de que no sean facilitados todos los datos, el prestador no garantiza
      que la información y servicios facilitados sean completamente ajustados a
      sus necesidades.
    </Parrafo>
    <Parrafo>
      Del mismo modo, el usuario podrá darse de baja de cualquiera de los
      servicios de suscripción facilitados haciendo clic en el apartado darse de
      baja de todos los correos electrónicos remitidos por parte del prestador.
    </Parrafo>
    <Parrafo>
      Del mismo modo, el prestador ha adoptado todas las medidas técnicas y
      organizativas necesarias para garantizar la seguridad e integridad de los
      datos de carácter personal que trate, así como para evitar su pérdida,
      alteración y/o acceso por parte de terceros no autorizados.
    </Parrafo>
  </Seccion2>

  <Seccion2 modoLegal={true} class="mb-8">
    <h2 class="text-xl font-semibold mb-2">
      USO DE COOKIES (ver Política de cookies)
    </h2>
    <Parrafo>
      Una cookie es un fichero que se descarga en su ordenador al acceder a
      determinadas páginas web. Las cookies permiten a una página web, entre
      otras cosas, almacenar y recuperar información sobre los hábitos de
      navegación de un usuario o de su equipo y, dependiendo de la información
      que contengan y de la forma en que utilice su equipo, pueden utilizarse
      para reconocer al usuario.
    </Parrafo>
    <Parrafo>
      Quedan exceptuadas del cumplimiento de las obligaciones establecidas en el
      artículo 22.2 de la Ley 34/2002 LSSICE las cookies utilizadas para alguna
      de las siguientes finalidades:
    </Parrafo>
    <ul class="list-disc ml-5">
      <li>
        Criterio A: Permitir únicamente la comunicación entre el equipo del
        usuario y la red.
      </li>
      <li>
        Criterio B: Estrictamente prestar un servicio expresamente solicitado
        por el usuario.
      </li>
    </ul>
    <Parrafo>
      Es decir, entre las cookies exceptuadas estarían aquellas que tienen por
      finalidad:
    </Parrafo>
    <ul class="list-disc ml-5">
      <li>Cookies de «entrada del usuario»</li>
      <li>
        Cookies de autenticación o identificación de usuario (únicamente de
        sesión)
      </li>
      <li>Cookies de seguridad del usuario</li>
      <li>Cookies de sesión de reproductor multimedia</li>
      <li>Cookies de sesión para equilibrar la carga</li>
      <li>Cookies de personalización de la interfaz de usuario</li>
      <li>
        Cookies de complemento (plug-in) para intercambiar contenidos sociales
      </li>
    </ul>
    <Parrafo>
      En el caso del Criterio B la cookie que ofrezca un servicio de la sociedad
      de la información tendría que reunir las dos condiciones siguientes:
    </Parrafo>
    <ul class="list-disc ml-5">
      <li>
        Que la cookie sea necesaria para prestar una funcionalidad específica al
        usuario (o abonado): si las cookies no funcionan, la funcionalidad no se
        prestará
      </li>
      <li>
        Que la funcionalidad haya sido solicitada explícitamente por el usuario
        (o abonado), como parte de un servicio de la sociedad de la información
      </li>
    </ul>
    <Parrafo>
      En el caso de que este sitio web use cookies no excluidas del ámbito de
      aplicación de esta normativa legal utilizará un sistema de información en
      dos capas.
    </Parrafo>
    <Parrafo>
      En la primera capa mostrará la información esencial sobre la existencia de
      cookies, si son propias o de terceros y las finalidades de las cookies
      empleadas, así como los modos de prestar el consentimiento.
    </Parrafo>
    <Parrafo>
      En la segunda capa, informaría sobre qué son y para qué se utilizan las
      cookies, los tipos de cookies utilizadas y su finalidad, así como la forma
      de desactivar o eliminar las cookies enunciadas a través de las
      funcionalidades facilitadas por el editor, las herramientas proporcionadas
      por el navegador o el terminal o a través de las plataformas comunes que
      pudieran existir, para esta finalidad o en su caso, la forma de revocación
      del consentimiento ya prestado. También en esta segunda capa ofrecerá
      información sobre la identificación de quien utiliza las cookies, esto es,
      si la información obtenida por las cookies es tratada solo por el editor
      y/o también por terceros. Con la identificación de aquellos con los que
      haya contratado o cuyos servicios ha decidido integrar el editor.
    </Parrafo>
  </Seccion2>

  <Seccion2 modoLegal={true} class="mb-8" bgColor="bg-stone-100">
    <h2 class="text-xl font-semibold mb-2">DIRECCIONES IP</h2>
    <Parrafo>
      Los servidores del sitio web podrán detectar de manera automática la
      dirección IP y el nombre de dominio utilizados por el usuario. Una
      dirección IP es un número asignado automáticamente a un ordenador cuando
      éste se conecta a Internet. Toda esta información es registrada en un
      fichero de actividad del servidor debidamente inscrito que permite el
      posterior procesamiento de los datos con el fin de obtener mediciones
      únicamente estadísticas que permitan conocer el número de impresiones de
      páginas, el número de visitas realizadas a los servicios web, el orden de
      visitas, el punto de acceso, etc.
    </Parrafo>
  </Seccion2>

  <Seccion2 modoLegal={true} class="mb-8">
    <h2 class="text-xl font-semibold mb-2">SEGURIDAD</h2>
    <Parrafo>
      El sitio web utiliza técnicas de seguridad de la información generalmente
      aceptadas en la industria, tales como firewalls, procedimientos de control
      de acceso y mecanismos criptográficos, todo ello con el objeto de evitar
      el acceso no autorizado a los datos. Para lograr estos fines, el
      usuario/cliente acepta que el prestador obtenga datos para efectos de la
      correspondiente autenticación de los controles de acceso.
    </Parrafo>
    <Parrafo>
      Todo proceso que conlleve la introducción de datos personales de carácter
      alto (salud, ideología, …) serán siempre transmitidos mediante protocolo
      de comunicación segura (https://…) con certificado SSL, de tal forma que
      ningún tercero tenga acceso a la información transmitida vía electrónica.
    </Parrafo>
  </Seccion2>
</BaseLayout>
