---
import { Image } from 'astro:assets';

import appleLogo from '../images/home/marcas/apple.svg';
import xiaomiLogo from '../images/home/marcas/xiaomi.svg';
import huaweiLogo from '../images/home/marcas/huawei.svg';
import sonyLogo from '../images/home/marcas/sony.svg';
import samsungLogo from '../images/home/marcas/samsung.svg';
import oneplusLogo from '../images/home/marcas/oneplus.svg';
import oppoLogo from '../images/home/marcas/oppo.svg';
import honorLogo from '../images/home/marcas/honor.svg';
import cubotLogo from '../images/home/marcas/cubot.svg';
import pixelLogo from '../images/home/marcas/pixel.svg';
import motorolaLogo from '../images/home/marcas/motorola.svg';
import htcLogo from '../images/home/marcas/htc.svg';
import lgLogo from '../images/home/marcas/lg.svg';
import nokiaLogo from '../images/home/marcas/nokia.svg';
import realmeLogo from '../images/home/marcas/realme.svg';
---

<div
  class="my-8 flex flex-wrap items-center justify-center gap-x-2 gap-y-0 px-2 md:w-3/4"
>
  <Image src={appleLogo} alt="Logo de Apple" width={75} />
  <Image src={xiaomiLogo} alt="Logo de Xiaomi" width={75} />
  <Image src={huaweiLogo} alt="Logo de Huawei" width={75} />
  <Image src={sonyLogo} alt="Logo de Sony" width={75} />
  <Image src={samsungLogo} alt="Logo de Samsung" width={75} />
  <Image src={oneplusLogo} alt="Logo de Oneplus" width={75} />
  <Image src={oppoLogo} alt="Logo de Oppo" width={75} />
  <Image src={honorLogo} alt="Logo de Honor" width={75} />
  <Image src={cubotLogo} alt="Logo de Cubot" width={75} />
  <Image src={pixelLogo} alt="Logo de Pixel" width={75} />
  <Image src={motorolaLogo} alt="Logo de Motorola" width={75} />
  <Image src={htcLogo} alt="Logo de HTC" width={75} />
  <Image src={lgLogo} alt="Logo de LG" width={75} />
  <Image src={nokiaLogo} alt="Logo de Nokia" width={75} />
  <Image src={realmeLogo} alt="Logo de Realme" width={75} />
</div>
