---
import type {
  CasoExito,
  IDetails,
  IFamiliaReparaciones,
  Reseña,
} from '../lib/schema';
import Main from '../components/Main.astro';
import Breadcrumb from '../components/Breadcrumb.astro';
import {
  getCasosExito,
  getRecordDetailById,
  getReseñas,
} from '../lib/airtable';
import GridDetails from '../components/GridDetails.astro';
import { Image } from 'astro:assets';
import H1Specs from '../components/H1specs.astro';
import H2Specs from '../components/H2specs.astro';
import BaseLayout from './BaseLayout.astro';
import Main2 from '../components/Main2.astro';
import Seccion2 from '../components/Seccion2.astro';
import Cabecera from '../components/Cabecera.astro';
import { cleanAndSplitText } from '../lib/textProcessing';
import ImageTextContainer from '../components/ImageTextContainer.astro';
import PillBox from '../components/PillBox.astro';
import FAQs from '../components/FAQs.astro';
import CabeceraSeccion from '../components/CabeceraSeccion.astro';
import Span from '../components/Span.astro';
import ReviewsContainer from '../components/ReviewsContainer.astro';
import ascensor2 from '../images/home/ascensor3.webp';
import { ensureCachesLoaded } from '../lib/reseñasCache';
import { ensureCachesCasosExitoLoaded } from '../lib/casosExitoCache';
import CasosExitoContainer from '../components/CasosExitoContainer.astro';
import BotonCTA from '../components/BotonCTA.astro';
import CabeceraCRO from '../components/CabeceraCRO.astro';
import BotonCTACRO from '../components/BotonCTACRO.astro';
import ReviewsContainerCRO from '../components/ReviewsContainerCRO.astro';

const props = Astro.props as IFamiliaReparaciones;
let reparacionesDetails: IDetails[] = [];
let basereparacionesDetails = 'Tipo y Marca: Reparaciones';
if (props.reparaciones && props.reparaciones.length > 0) {
  reparacionesDetails = await Promise.all(
    props.reparaciones.map((id) =>
      getRecordDetailById(id, basereparacionesDetails)
    )
  );
}
let reseñas: Reseña[] = [];
let reseñasInternas: Reseña[] = [];

try {
  await ensureCachesLoaded();
  if (props.Reseñas && props.Reseñas.length > 0) {
    reseñas = await Promise.all(
      props.Reseñas.map((id) => getReseñas(id, 'cachedReseñas'))
    );
  }
  if (props.ReseñasInternas && props.ReseñasInternas.length > 0) {
    reseñasInternas = await Promise.all(
      props.ReseñasInternas.map((id) => getReseñas(id, 'cachedReseñasInternas'))
    );
  }
} catch (error) {
  console.error('Error fetching reseñas', error);
}

// Filtrar reseñas y reseñas internas donde quote no está vacío ni undefined y ordenar por fecha
const reseñasConQuote = reseñas
  .filter((reseña) => reseña.quote)
  .sort((a, b) => b.dateCreated.localeCompare(a.dateCreated));
const reseñasInternasConQuote = reseñasInternas
  .filter((reseña) => reseña.quote)
  .sort((a, b) => b.dateCreated.localeCompare(a.dateCreated));

// Filtrar reseñas y reseñas internas donde quote esté vacío o undefined y ordenar por fecha
const reseñasSinQuote = reseñas
  .filter((reseña) => !reseña.quote)
  .sort((a, b) => b.dateCreated.localeCompare(a.dateCreated));
const reseñasInternasSinQuote = reseñasInternas
  .filter((reseña) => !reseña.quote)
  .sort((a, b) => b.dateCreated.localeCompare(a.dateCreated));

// Concatenar los arrays en el orden deseado
const reseñasCombinadas = [
  ...reseñasConQuote,
  ...reseñasInternasConQuote,
  ...reseñasSinQuote,
  ...reseñasInternasSinQuote,
];

let casosExito: CasoExito[] = [];

try {
  await ensureCachesCasosExitoLoaded();
  if (props.CasosDeExito && props.CasosDeExito.length > 0) {
    casosExito = await Promise.all(
      props.CasosDeExito.map((id) => getCasosExito(id, 'casosExito'))
    );
  }
} catch (error) {
  console.error('Error fetching casos de éxito', error);
}

let casosExitoCombinados = casosExito.slice(-10).reverse();

if (props.imagenCasoExito) {
  casosExitoCombinados = casosExitoCombinados.map((caso) => {
    if (props.imagenCasoExito === 'frontal') {
      return {
        ...caso,
        imageUrlPrevia: caso.slugFrontalPrevio,
        imageUrlReparado: caso.slugFrontalReparado,
      };
    } else if (props.imagenCasoExito === 'trasera') {
      return {
        ...caso,
        imageUrlPrevia: caso.slugTraseraPrevio,
        imageUrlReparado: caso.slugTraseraReparado,
      };
    }
    return caso; // No changes if props.imagenCasoExito is not 'frontal' or 'trasera'
  });
}

// console.log('casosExitoCombinados', casosExitoCombinados);

let enlacePrimero: IDetails[] = [];
let enlaceSegundo: IDetails[] = [];
let baseModelos = 'Modelos';
if (props.EnlacePrimero && props.EnlacePrimero.length > 0) {
  enlacePrimero = await Promise.all(
    props.EnlacePrimero.map((id) => getRecordDetailById(id, baseModelos))
  );
}
if (props.EnlaceSegundo && props.EnlaceSegundo.length > 0) {
  enlaceSegundo = await Promise.all(
    props.EnlaceSegundo.map((id) => getRecordDetailById(id, baseModelos))
  );
}

//une los arrays enlacePrimero y enlaceSegundo
let enlacesInternos = enlacePrimero.concat(enlaceSegundo);

const faqs = [
  { title: props.FAQ1tit, response: props.FAQ1res },
  { title: props.FAQ2tit, response: props.FAQ2res },
  { title: props.FAQ3tit, response: props.FAQ3res },
  { title: props.FAQ4tit, response: props.FAQ4res },
  { title: props.FAQ5tit, response: props.FAQ5res },
  { title: props.FAQ6tit, response: props.FAQ6res },
];

const metadatos = ['BreadcrumbList'];
if (faqs) {
  metadatos.push('FAQPage');
}
//comentario
if (props.precioMin && props.precioMax && props.numRep) {
  if (props.precioMin === props.precioMax) {
    if (props.precioMin != 0) {
      metadatos.push('Product');
    }
  } else {
    metadatos.push('PriceRange');
  }
}

// console.log('props', props);
---

<BaseLayout
  title={props.title}
  description={props.description}
  slugTotal={props.slugTotal}
  metadatos={metadatos}
  faqs={faqs}
  hijo1={props.hijo1}
  enlaceHijo1={props.enlaceHijo1}
  hijo2={props.hijo2}
  enlaceHijo2={props.enlaceHijo2}
  hijo3={props.hijo3}
  enlaceHijo3={props.enlaceHijo3}
  hijo4={props.hijo4}
  enlaceHijo4={props.slugTotal}
  modoApple={props.modoApple}
  faqs={faqs}
  reseñasProduct={reseñasCombinadas}
  precioMin={props.precioMin}
  precioMax={props.precioMax}
  numRep={props.numRep}
  imagenProducto={props.slugImagen}
  descripcionProducto={props.description}
  hijoMax={props.hijo4}
  enlaceHijoMax={props.slugTotal}
  hijoNext={props.hijo3}
  enlaceHijoNext={props.enlaceHijo3}
  cadenaWhatsapp={`Hola, necesito una ${props.hijo4}`}
>
  <Breadcrumb
    hijo1={props.hijo1}
    enlaceHijo1={props.enlaceHijo1}
    hijo2={props.hijo2}
    enlaceHijo2={props.enlaceHijo2}
    hijo3={props.hijo3}
    enlaceHijo3={props.enlaceHijo3}
    hijo4={props.hijo4}
    modoApple={props.modoApple}
  />
  <Main2>
    <Seccion2 slugImagenBackground={props.slugImagenBackground}>
      <CabeceraCRO
        h1={props.h1}
        slugImagen={props.slugImagen}
        altPrincipal={props.altPrincipal}
        textolimpio={cleanAndSplitText(props.textoH1)}
        cabeceraReparacion="true"
        paramTipo={props.Tipo[0].toLowerCase()}
      >
      <BotonCTACRO texto={`Repara mi ${props.ReparaciónSEO} de ${props.FamiliaNombreCorrecto}`} destino="modelos" subtexto={`Selecciona tu modelo y repáralo hoy mismo`} tarifas={true}/>
    </CabeceraCRO>

{
      reseñasCombinadas && reseñasCombinadas.length > 0 && 

          <ReviewsContainerCRO reviews={reseñasCombinadas} />

    }
    </Seccion2>

    <Seccion2 bgColor="bg-stone-100" id="modelos">
      <H2Specs>{props.h2_1}</H2Specs>
      <PillBox texts={cleanAndSplitText(props.textoH2_1)} />
      <GridDetails
      mostrarPrecio="exacto"
        details={reparacionesDetails}
        idAnexo={props.idAnexo}
        stringPrincipal={props.stringPrincipal}
        modo="alternativo"
        anchor="#reparar"
      />


    <!-- {
      reseñasCombinadas && reseñasCombinadas.length > 0 && (
          <div id="reseñas" class="h-0"></div>
        <Seccion2 bgColor="bg-stone-50">
          <CabeceraSeccion>
            <Image
              src={ascensor2}
              alt="Logo de Santifer iRepair con lámpara del mostrador"
              class="content-cover absolute right:0 z-1 min-h-full min-w-full"
              height={390}
              width={259}
              slot="imagen"
            />
            <Fragment slot="encabezado">
              ¿Qué <Span>opinan</Span> quienes han
              <Span>{props.subH2Reseñas}</Span> en{' '}
              <Span>Santifer iRepair?</Span>
            </Fragment>

            <Fragment slot="contenido">
              Nuestros clientes están encantados con nuestros servicios. Aquí
              tienes algunos testimonios:
            </Fragment>
          </CabeceraSeccion>
          <ReviewsContainer reviews={reseñasCombinadas} />
          <BotonCTA texto={`Repara mi ${props.ReparaciónSEO} de ${props.FamiliaNombreCorrecto}`} destino="modelos" />
        </Seccion2>
      )
    } -->

    {
      casosExitoCombinados && casosExitoCombinados.length > 0 && (
        <div id="casosexito" class="h-0"></div>

          <CasosExitoContainer casosExito={casosExitoCombinados} />
         <BotonCTACRO texto={`Repara mi ${props.ReparaciónSEO} de ${props.FamiliaNombreCorrecto}`} destino="modelos" subtexto={`Selecciona tu modelo y repáralo hoy mismo`} />

      )
    }

    </Seccion2>
    <Seccion2>
      <H2Specs>{props.h2_2}</H2Specs>
      <!-- <PillBox modo="horizontal" texts={cleanAndSplitText(props.textoH2_2)} /> -->
      <ImageTextContainer
        ImagesUploadedBig={props.imagesUploadedBig}
        slugImagenBackground={props.slugImagenBackground}
        texts={cleanAndSplitText(props.textoH2_2)}
        modo="horizontal"
      />
    </Seccion2>

    <Seccion2 bgColor="bg-stone-100">
      <H2Specs>{props.h2_0}</H2Specs>
      <PillBox texts={cleanAndSplitText(props.textoPreH2_1)} />
      <BotonCTACRO texto={`Repara mi ${props.ReparaciónSEO} de ${props.FamiliaNombreCorrecto}`} destino="modelos" subtexto={`Selecciona tu modelo y repáralo hoy mismo`} />
    </Seccion2>

    <Seccion2>
      <H2Specs>{props.h2_FAQs}</H2Specs>
      <FAQs faqs={faqs} />
      <BotonCTACRO texto={`Repara mi ${props.ReparaciónSEO} de ${props.FamiliaNombreCorrecto}`} destino="modelos" subtexto={`Selecciona tu modelo y repáralo hoy mismo`} />
    </Seccion2>

    {
      enlacesInternos.length > 0 && (
        <Seccion2 bgColor="bg-stone-100">
          <H2Specs>Otras reparaciones de interés</H2Specs>
          <GridDetails
            details={enlacesInternos}
            idAnexo="Marcas"
            stringPrincipal=""
            modoEnlace="true"
          />
        </Seccion2>
      )
    }
  </Main2>
</BaseLayout>
