---
import Breadcrumb from '../components/Breadcrumb.astro';

import type { IModelos, IDetails, Reseña, CasoExito } from '../lib/schema';
import {
  getCasosExito,
  getRecordDetailById,
  getReseñas,
} from '../lib/airtable';
import GridDetails from '../components/GridDetails.astro';
import H2specs from '../components/H2specs.astro';

import ImageTextContainer from '../components/ImageTextContainer.astro';
import FAQs from '../components/FAQs.astro';
import BaseLayout from './BaseLayout.astro';
import { cleanAndSplitText } from '../lib/textProcessing';
import Cabecera from '../components/Cabecera.astro';
import PillBox from '../components/PillBox.astro';
import Main2 from '../components/Main2.astro';
import Seccion2 from '../components/Seccion2.astro';
import ascensor2 from '../images/home/ascensor3.webp';
import CabeceraSeccion from '../components/CabeceraSeccion.astro';
import { Image } from 'astro:assets';
import Span from '../components/Span.astro';
import ReviewsContainerCRO from '../components/ReviewsContainerCRO.astro';
import Modal from '../components/Modal.astro';
import { ensureCachesLoaded } from '../lib/reseñasCache';
import { ensureCachesCasosExitoLoaded } from '../lib/casosExitoCache';
import H2Specs from '../components/H2specs.astro';
import CasosExitoContainer from '../components/CasosExitoContainer.astro';
import BotonCTACRO from '../components/BotonCTACRO.astro';
import CabeceraCRO from '../components/CabeceraCRO.astro';

const props = Astro.props as IModelos;
let reparacionesDetails: IDetails[] = [];
let baseReparaciones = 'Reparaciones';

if (props.reparaciones && props.reparaciones.length > 0) {
  reparacionesDetails = await Promise.all(
    props.reparaciones.map((id) => getRecordDetailById(id, baseReparaciones))
  );
}

let reseñas: Reseña[] = [];

if (props.Reseñas && props.Reseñas.length > 0) {
  try {
    await ensureCachesLoaded();
    reseñas = await Promise.all(
      props.Reseñas.map((id) => getReseñas(id, 'cachedReseñas'))
    );
  } catch (error) {
    console.error('Error fetching reseñas normales:', error);
  }
}

let reseñasInternas: Reseña[] = [];
// let baseReseñasInternas = 'Reseñas Internas';

if (props.ReseñasInternas && props.ReseñasInternas.length > 0) {
  try {
    await ensureCachesLoaded();
    reseñasInternas = await Promise.all(
      props.ReseñasInternas.map((id) => getReseñas(id, 'cachedReseñasInternas'))
    );
  } catch (error) {
    console.error('Error fetching reseñas internas:', error);
  }
}
// Filtrar reseñas y reseñas internas donde quote no está vacío ni undefined y ordenar por fecha
const reseñasConQuote = reseñas
  .filter((reseña) => reseña.quote)
  .sort((a, b) => b.dateCreated.localeCompare(a.dateCreated));
const reseñasInternasConQuote = reseñasInternas
  .filter((reseña) => reseña.quote)
  .sort((a, b) => b.dateCreated.localeCompare(a.dateCreated));

// Filtrar reseñas y reseñas internas donde quote esté vacío o undefined y ordenar por fecha
const reseñasSinQuote = reseñas
  .filter((reseña) => !reseña.quote)
  .sort((a, b) => b.dateCreated.localeCompare(a.dateCreated));
const reseñasInternasSinQuote = reseñasInternas
  .filter((reseña) => !reseña.quote)
  .sort((a, b) => b.dateCreated.localeCompare(a.dateCreated));

// Concatenar los arrays en el orden deseado
const reseñasCombinadas = [
  ...reseñasConQuote,
  ...reseñasInternasConQuote,
  ...reseñasSinQuote,
  ...reseñasInternasSinQuote,
];

let casosExito: CasoExito[] = [];

try {
  await ensureCachesCasosExitoLoaded();
  if (props.CasosDeExito && props.CasosDeExito.length > 0) {
    casosExito = await Promise.all(
      props.CasosDeExito.map((id) => getCasosExito(id, 'casosExito'))
    );
  }
} catch (error) {
  console.error('Error fetching casos de éxito', error);
}

const casosExitoCombinados = casosExito.slice(-10).reverse();

// console.log('casosExitoCombinados', casosExitoCombinados);

let enlacePrimero: IDetails[] = [];
let enlaceSegundo: IDetails[] = [];
let baseModelos = 'Modelos';
if (props.enlacePrimero && props.enlacePrimero.length > 0) {
  enlacePrimero = await Promise.all(
    props.enlacePrimero.map((id) => getRecordDetailById(id, baseModelos))
  );
}
if (props.enlaceSegundo && props.enlaceSegundo.length > 0) {
  enlaceSegundo = await Promise.all(
    props.enlaceSegundo.map((id) => getRecordDetailById(id, baseModelos))
  );
}

//une los arrays enlacePrimero y enlaceSegundo
let enlacesInternos = enlacePrimero.concat(enlaceSegundo);

const faqs = [
  { title: props.FAQ1tit, response: props.FAQ1res },
  { title: props.FAQ2tit, response: props.FAQ2res },
  { title: props.FAQ3tit, response: props.FAQ3res },
  { title: props.FAQ4tit, response: props.FAQ4res },
  { title: props.FAQ5tit, response: props.FAQ5res },
  { title: props.FAQ6tit, response: props.FAQ6res },
];

// // console.log('PROPS: ', props);
const metadatos = ['BreadcrumbList'];
if (faqs) {
  metadatos.push('FAQPage');
}

if (props.precioMin && props.precioMax && props.numRep) {
  metadatos.push('PriceRange');
}

// // console.log('RESEÑAS length: ', reseñasCombinadas.length);
// // console.log('RESEÑAS: ', reseñasCombinadas);
// // console.log('RESEÑAS con quote: ', reseñasConQuote);
// // console.log('RESEÑAS internas con quote: ', reseñasInternasConQuote);
// // console.log('RESEÑAS sin quote: ', reseñasSinQuote);
// // console.log('RESEÑAS internas sin quote: ', reseñasInternasSinQuote);
// console.log(props)
---

<BaseLayout
  title={props.title}
  description={props.description}
  slugTotal={props.slugTotal}
  metadatos={metadatos}
  hijo1={props.hijo1}
  enlaceHijo1={props.enlaceHijo1}
  hijo2={props.hijo2}
  enlaceHijo2={props.enlaceHijo2}
  hijo3={props.hijo3}
  enlaceHijo3={props.enlaceHijo3}
  hijo4={props.hijo4}
  enlaceHijo4={props.slugTotal}
  faqs={faqs}
  reseñasProduct={reseñasCombinadas}
  precioMin={props.precioMin}
  precioMax={props.precioMax}
  numRep={props.numRep}
  faqs={faqs}
  imagenProducto={props.slugImagen}
  descripcionProducto={props.description}
  hijoMax={props.hijo4}
  enlaceHijoMax={props.slugTotal}
  hijoNext={props.hijo3}
  enlaceHijoNext={props.enlaceHijo3}
  cadenaWhatsapp={`Hola, necesito reparar mi ${props.nombreModelo}`}
>
  {
    props.modoFamilia ? (
      <Breadcrumb
        hijo1={props.hijo1}
        enlaceHijo1={props.enlaceHijo1}
        hijo2={props.hijo2}
        enlaceHijo2={props.enlaceHijo2}
        hijo3={props.hijo3}
        enlaceHijo3={props.enlaceHijo3}
        hijo4={props.hijo4}
        modoApple={props.modoApple}
      />
    ) : (
      <Breadcrumb
        hijo1={props.hijo1}
        enlaceHijo1={props.enlaceHijo1}
        hijo2={props.hijo2}
        enlaceHijo2={props.enlaceHijo2}
        hijo3={props.hijo3}
        modoApple={props.modoApple}
      />
    )
  }
  
  <Main2>
    <Seccion2 slugImagenBackground={props.slugImagenBackground}>
      <CabeceraCRO
        h1={props.h1}
        slugImagen={props.slugImagen}
        altPrincipal={props.altPrincipal}
        textolimpio={cleanAndSplitText(props.textoH1)}
        paramTipo={props.paramTipo}
        microcopy={props.microcopy}
      >
            <BotonCTACRO
        destino="reparaciones"
        texto={`Reparar mi ${props.nombreModelo}`}
        subtexto={`Selecciona tu avería y repáralo hoy mismo`}
        tarifas={true}
      />
      </CabeceraCRO>

          {
      reseñasCombinadas && reseñasCombinadas.length > 0 && 

          <ReviewsContainerCRO reviews={reseñasCombinadas} />

    }

    </Seccion2>

    <Seccion2 bgColor="bg-stone-100" id="reparaciones">
      <H2specs>{props.h2_1}</H2specs>
      <PillBox texts={cleanAndSplitText(props.textoH2_1)} />
      <GridDetails
      mostrarPrecio="exacto"
        details={reparacionesDetails}
        idAnexo="reparaciones"
        stringPrincipal={props.stringPrincipal}
        modoModelo={props.stringPrincipal}
        modeloImg={props.slugImagen}
        citaDiag={props.citaDiag}
        urlPresupuesto={props.urlPresupuesto}
        anchor="#reparar"
      />


    {
      casosExitoCombinados && casosExitoCombinados.length > 0 && (
        <div id="casosexito" class="h-0"></div>

          <CasosExitoContainer casosExito={casosExitoCombinados} />
                <BotonCTACRO
        destino="reparaciones"
        texto={`Reparar mi ${props.nombreModelo}`}
        subtexto={`Selecciona tu avería y repáralo hoy mismo`}
      />

      )
    }

    </Seccion2>

    <!-- {
      reseñasCombinadas && reseñasCombinadas.length > 0 && (
         <div id="reseñas" class="h-0"></div>
        <Seccion2 bgColor="bg-stone-50">
          <CabeceraSeccion>
            <Image
              src={ascensor2}
              alt="Logo de Santifer iRepair con lámpara del mostrador"
              class="content-cover absolute right:0 z-1 min-h-full min-w-full"
              height={390}
              width={259}
              slot="imagen"
            />
            <Fragment slot="encabezado">
              ¿Qué <Span>opinan</Span> quienes han
              <Span>{props.subH2Reseñas}</Span>?
            </Fragment>

            <Fragment slot="contenido">
              Nuestros clientes están encantados con nuestros servicios. Aquí
              tienes algunos testimonios de clientes que han{' '}
              {props.subH2Reseñas} en Santifer iRepair
            </Fragment>
          </CabeceraSeccion>
          <ReviewsContainer reviews={reseñasCombinadas} />
                <BotonCTA
        destino="reparaciones"
        texto={`Reparar mi ${props.nombreModelo}`}
      />
        </Seccion2>
      )
    } -->
<!-- 
    {
      casosExitoCombinados && casosExitoCombinados.length > 0 && (
        <div id="casosexito" class="h-0"></div>
        <Seccion2
          bgColor={
            reseñasCombinadas && reseñasCombinadas.length > 0
              ? 'bg-stone-100'
              : 'bg-stone-50'
          }
        >
          <H2Specs palpitante={true}>{props.h2_casosExito}</H2Specs>
          <CasosExitoContainer casosExito={casosExitoCombinados} />
                <BotonCTACRO
        destino="reparaciones"
        texto={`Reparar mi ${props.nombreModelo}`}
        subtexto={`Selecciona tu avería y repáralo hoy mismo`}
      />
        </Seccion2>
      )
    } -->

    <Seccion2>
      <H2specs>{props.h2_0}</H2specs>
      <ImageTextContainer
        ImagesUploadedBig={props.imagesUploadedBig}
        texts={cleanAndSplitText(props.textoPreH2_1)}
        slugImagenBackground={props.slugImagenBackground}
      />
    </Seccion2>

    <Seccion2 bgColor="bg-stone-100">
      <H2specs>{props.h2_FAQs}</H2specs>
      <FAQs faqs={faqs} />
            <BotonCTACRO
        destino="reparaciones"
        texto={`Reparar mi ${props.nombreModelo}`}
          subtexto={`Selecciona tu avería y repáralo hoy mismo`}
      />
    </Seccion2>

    {
      enlacesInternos.length > 0 && (
        <Seccion2>
          <H2specs>Otros modelos de interés</H2specs>
          <GridDetails
            details={enlacesInternos}
            idAnexo="Modelos"
            stringPrincipal=""
            modoEnlace="true"
          />
        </Seccion2>
      )
    }
    <Modal id="sharedModal" isOpen={false} />
  </Main2>
</BaseLayout>
<script>
  function setupModal(modalId: any, iframeUrl: any) {
    const modal = document.getElementById(modalId);
    const dentroModal = document.getElementById('dentro-modal');
    // // console.log('PULSADO SETUPMODAL');
    // Manejador para abrir el modal e insertar el iframe

    if (modal && dentroModal) {
      dentroModal.innerHTML = ''; // Limpia el contenido previo
      modal.style.display = 'flex'; // Muestra el modal
      // // console.log('SE ABRE MODAL');
      const iframe = document.createElement('iframe');
      iframe.setAttribute('src', iframeUrl);
      iframe.setAttribute('frameborder', '0');
      iframe.style.width = '100%'; // Ajusta según tus necesidades
      iframe.style.height = '100%'; // Ajusta según tus necesidades
      iframe.style.zIndex = '40'; // Establece z-index como solicitado
      iframe.style.position = 'relative'; // Asegura que z-index funcione
      iframe.style.borderRadius = '0.75rem'; // Aplica border-radius equivalente a rounded-xl en Tailwind
      iframe.style.overflow = 'hidden'; // Aplica overflow-hidden
      dentroModal.appendChild(iframe);
    } else {
      console.error('No se encontró el modal');
    }
  }
  const buttons = document.querySelectorAll('button[data-type="modal"]');
  if (buttons) {
    // // console.log('Botones de modal', buttons);
  } else {
    console.error('No se encontraron botones');
  }
  buttons.forEach((button) => {
    const modalId = button.getAttribute('data-modal');
    const iframeUrl = button.getAttribute('data-url');
    // // console.log('openButtonId', openButtonId);
    // // console.log('modalId', modalId);
    // // console.log('iframeUrl', iframeUrl);
    // // console.log('asignado setupModal al click de ', openButtonId);

    button.addEventListener('click', () => {
      setupModal(modalId, iframeUrl);
    });
  });
</script>
